# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# Data
data/
*.csv
*.parquet
*.pkl

# Logs
*.log
